<div class="jumbotron">
    <h1 class="text-center">Felipe Pereira</h1>
    
<!-- Div para o menu -->    
    <div>
        <ul>
        <li>
            <a>Portfolio</a>
        </li>
        <li>
            <a>Sobre</a>
        </li>
        <li>
            <a>Contato</a>
        </li>
        </ul>
    </div>
<!-- Fim Div para o menu --> 

</div>

<div class="container">
    
    <!-- Inicio Header Cabeçalho do site -->
    <header>
        <div>
          <img src="img/profile.png" alt="Imagem do Profile">
          <h1>Praticando AngularJS</h1>
          <hr>
          <h2>Em construção</h2>
        </div>
    </header>
    <!-- Fim Header Cabeçalho do site -->

</div>

<!-- Portifolio -->
<!-- Fim Portifolio -->

<!-- Sobre -->
<!-- Fim Sobre -->

<!-- Rodapé -->
<!-- Fim Rodapé -->